html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: bisque;
}

/* HEADER */
.header {
    font-style: italic;
}

/* MAIN CONTAINER */
.container.main {
    /* border: 1px black solid; */

    height: 75vh;
    width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR */
.calculator {
    background-color: rgb(71, 71, 71);

    height: 99%;
    width: 400px;

    display: flex;
    flex-flow: column nowrap;
}

.display {
    font-size: x-large;

    padding: 0.5em;

    background-color: rgb(71, 71, 71);
    color: white;

    display: flex;
    justify-content: end;
    align-items: end;
}

.row {
    display: flex;
    flex: auto;
}

/* CALCULATOR BUTTONS */
.calculator button {
    border-style: none;
    flex: 1;
}

.calculator button:hover {
    opacity: 0.9;
}

button.operator {
    background-color: orange;
}

/* FIRST ROW */


/* FIFTH ROW */


/* FOOTER */
.footer {
    border-radius: 5px;
    background-color: antiquewhite;

    margin-top: 1.5em;
    padding: 5px;
}