html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    background-color: rgb(255, 245, 232);
}

/* HEADER */
.header {
    text-align: center;
    font-style: italic;
}

/* MAIN CONTAINER */
.container.main {
    /* border: 1px black solid; */

    height: 75vh;
    width: 95vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR */
.calculator {
    border: 1px solid black;
    background-color: rgb(71, 71, 71);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */

    height: 99%;
    width: 400px;

    display: flex;
    flex-flow: column nowrap;
}

.display {
    font-size: 50px;

    padding: 0.5em 0.5em 0 0;

    background-color: rgb(71, 71, 71);
    color: white;

    display: flex;
    justify-content: end;
    align-items: end;
}

.row {
    display: flex;
    flex: auto;
}

/* CALCULATOR BUTTONS */
.calculator button {
    border-style: none;
    flex: 1;

    background-color: beige;
    font-size: x-large;
    color:black;
}

@media (hover: hover) {
    .calculator button:hover {
        opacity: 0.9;
    }
}

.calculator button:active {
    transform: scale(0.98); /* Slightly shrink the button to simulate a press */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */
}

button.operator {
    background-color: orange;
}

/* FOOTER */
.footer {
    border-radius: 5px;
    background-color: antiquewhite;

    margin-top: 1.5em;
    padding: 5px;
}

.gif {
    height: 50px;
    width: 50px;;
}